<html>

<head>
    <link rel="stylesheet" href="../../public/stylesheets/CV.CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="navContainer">
        <nav>


            <a href="details">Details</a>
            <a href="education">Education</a>
            <a href="Experience">Experience</a>
            <a href="MilitaryService">Military service</a>
            <a href="contactUs" .html>Contact Us</a>
            <a href="CV">Home page</a>


        </nav>
    </div>

    <p>
        2014 – 2016<br>
        PRE-MILITARY SCHOOL GUIDE, ORDENCE CORPS, SERGEANT<br>
        Taking care of pre-military school children-at-risk, <br>
        teaching classes and helping them with school assignments to ensure they will get drafted by the army.<br>


    </p>
</body>

</html>